body {
    background:#fff;
    font-family:"Helvetica Neue","Helvetica",sans-serif;
}
/* HEADER */
header {
    background:#4A105A;
    padding:10px;
    border-bottom:1px solid #fff;
}
header p#title {
    position:absolute;
    top:44px;
    color:#fff;
    left:314px;
}
header a {
    color:#ccf;
}
header a {
    color:#aaf;
}
header p#user_welcome {
    position:absolute;
    top:44px;
    right:10px;
    color:#fff;
    font-size:110%;
    font-weight:100;
    letter-spacing:0.1em;
}
/* MAIN NAV */
nav#nav {
    border-bottom:1px solid #fff;
    font-size:120%;
    font-weight:100;
    letter-spacing:0.1em;

    background: #5a5a5a; /* Old browsers */
    background: -moz-linear-gradient(top, #5a5a5a 0%, #494949 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5a5a5a), color-stop(100%,#494949)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #5a5a5a 0%,#494949 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #5a5a5a 0%,#494949 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #5a5a5a 0%,#494949 100%); /* IE10+ */
    background: linear-gradient(to bottom, #5a5a5a 0%,#494949 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a5a5a', endColorstr='#494949',GradientType=0 ); /* IE6-9 */

    -webkit-box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.63);
    -moz-box-shadow:    0px 3px 4px 0px rgba(50, 50, 50, 0.63);
    box-shadow:         0px 3px 4px 0px rgba(50, 50, 50, 0.63);
}
nav ul.nav li a {
    color:#fff;
    background:none;
}
nav ul.nav li a:hover {
    background:none;
    color:#ddddff;
}
nav ul li.active a {
    color:#ffde6d;
}
nav ul li.active a:hover {
    color:#ffde6d;
}
/* FOOTER */
footer#footer {
    background:#4A105A;
    color:#fff;
    margin-top:-1px;
    clear:both;
}
footer#footer div.footer-column {
    width:25%;
    float:left;
    padding:10px;
    text-align:center;
    margin-top:10px;
}
footer#footer div.footer-column:first-child {
    margin-top:30px;
}
/* DASHBOARD */
div#dashboard_container {
    background:#9A9CA2;
}
div#dashboard_container ul#vis-nav {
    list-style-type:none;
    margin:0;
    padding:0;
    height:41px;
}
div#dashboard_container ul#vis-nav li {
    float:left;
    margin:0;
    padding:0;
}
div#dashboard_container ul#vis-nav li a {
    padding:10px 30px;
    display:block;
    color:#494949;
    border-right:1px solid #9A9CA2;
    border-bottom:1px solid #9A9CA2;
    text-align:center;

    background:#e0e2e5;
}
div#dashboard_container ul#vis-nav li.selected a {
    background:#fff;
    border-bottom:1px solid #fff;
}
div#dashboard_container ul#vis-nav li:first-child a {
    width:120px;
    font-size:200%;
    height:40px;
    padding-top:0;
    background:none;
    color:#fff;
    border-bottom:0;
}
div#dashboard_container ul#vis-nav li a:hover {
    color:#4A105A;
    text-decoration:none;
}
div#dashboard_container ul#coursenav {
    margin:0;
    padding:0;
    list-style-type:none;
    float:left;
    clear:left;
}
div#dashboard_container ul#coursenav li {
    width:120px;
    margin:0;
    padding:0;
    background: #e0e2e5;
}
div#dashboard_container ul#coursenav li a {
    padding:18px 0 15px 0;
    text-align:center;
    font-size:90%;
    display:block;
    border-bottom:1px solid #9A9CA2;
    border-right:1px solid #9A9CA2;
    color:#494949;
}
div#dashboard_container ul#coursenav li a:hover {
    text-decoration:none;
    color:#4A105A;
}
div#dashboard_container ul#coursenav li.selected a {
    background:#fff;
    border-right:1px solid #fff;
    color:#4A105A;
    font-weight:bold;
}
div#dashboard_container ul#coursenav li a i {
    display:block;
    font-size:280%;
    margin-bottom:5px;
}
/* CONTENT */
div#content_wrapper {
    clear:left;
    width:100%;
}
div#main_content {
    border:1px solid #9A9CA2;
    margin-left:119px;
    background:#fff;
    min-height:500px;
    padding:20px 0 0 20px;
    border-right:0;
    border-top:0;
}
div#main_content h1 {
    color:#4A105A;
    font-weight:200;
    margin:0;
}
ul#actions {
    list-style-type: none;
    margin-top:10px;
}
ul#actions li {
    float:right;
    margin-right:14px;
}
div#inner_content {
    background:#fafafa;
    border-left:1px solid #eee;
    border-top:1px solid #eee;
    min-height:500px;
    margin-top:10px;
    padding:10px;
    position:relative;
}
div#dashboard_content {
    min-height:500px;
}
iframe {
    border:0;
}

ul#coursestructure, ul#coursestructure ul {
    margin:0;
    padding:0;
    list-style-type:none;
    margin-top:10px;
}

ul#coursestructure, ul#coursestructure ul li {
    margin-top:10px;
}

ul#coursestructure {
    margin:10px;
    margin-top:60px;
}
ul#coursestructure div.node {
    border:1px solid #ccc;
    padding:10px 30px;
    text-align:center;
    padding-bottom:30px;
    cursor: pointer;
    overflow:hidden;
}
div#searchbox {
    margin-top:5px;
    border:1px solid #fff;
}


ul#coursestructure div.node_course {
    background:#fafafa;
}
ul#coursestructure div.node_chapter {
    background:#eeeeee;
    border:1px solid #cccccc;
}
ul#coursestructure div.node_sequential {
    background:#dddddd;
    border:1px solid #bbbbbb;
}
ul#coursestructure div.node_vertical {
    background:#cccccc;
    border:1px solid purple;
    color:purple;
}
ul#coursestructure div.node_problem {
    background:#ffdddd;
    border:1px solid red;
    padding-bottom:10px;
    color:#222;
}
ul#coursestructure div.node_video {
    background:#ddffdd;
    border:1px solid green;
    padding-bottom:10px;
    color:#222;
}
ul#coursestructure div.node_html {
    background:#ddddff;
    border:1px solid blue;
    padding-bottom:10px;
    color:#222;
}
ul#coursestructure em {
    display:none;
}
.hideview {
    display:none;
}
div.notselected h1 {
    text-align:center;
    color:#666;
    margin-top:50px;
    font-size:300%;
    padding-top:100px;
}
div.notselected p {
    text-align:center;
    color:#333;
    font-weight:100;
    letter-spacing:0.1em;
    font-size:120%;
}
div.notselected div#icon {
    text-align:center;
    font-size:1300%;
    color:#4A105A;
}
div#loading_spinner {
    height:500px; position:relative; margin-right:20px;
}