<div id="searchbox">
	<form class="navbar-form navbar-left" role="search">
		<div class="input-group">
			<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
			<input type="text" id='searchbox' class="form-control" placeholder="Search" ng-model="searchText">
		</div>
	</form>
</div>

<script type="text/ng-template"  id="tree_item_renderer.html">
    <div class="node node_{{data.tag}}">
    <div ng-click="launchStructureModal(data)">
        &lt;{{data.tag}}&gt; <strong>{{data.display_name}}</strong> <em>{{ data.url_name }}</em>
    </div>
    <ul ng-if="data.tag != 'problem' && data.children.length > 0">
        <li ng-repeat="data in data.children | filter:searchText" ng-include="'tree_item_renderer.html'"></li>
    </ul>
    </div>
</script>
<ul id="coursestructure">
    <li ng-repeat="data in [coursecontent] | filter:searchText" ng-include="'tree_item_renderer.html'"></li>
</ul>