<style>
    .col-md-6 {
        padding:10px;
    }
    .col-md-6 h3 {
        text-align:center;
    }
</style>
<div style="float:left; width:100%;">
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>{{data.selectedcoursename }} Age Distribution</h3>
            <vis-gpie data="data.age" style="margin:30px auto;"></vis-gpie>
        </div>
        <div class="col-md-6">
            <h3>{{data.selectedcoursename }} Gender Distribution</h3>
            <vis-gpie data="data.gender" style="margin:30px auto;" colors="['blue','orange','pink','#666666']"></vis-gpie>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>{{data.selectedcoursename }} Education Distribution</h3>
            <vis-gpie data="data.education" style="margin:30px auto;"></vis-gpie>
        </div>
        <div class="col-md-6">
            <h3>User Enrolment Types</h3>
            <vis-gpie data="data.modes" style="margin:30px auto;" colors="['red','blue','green','orange','yellow']"></vis-gpie>
            <!--<vis-key-value data="data.modes"></vis-key-value>-->
        </div>
    </div>
</div>
</div>
<div style="clear:left"></div>
    <script type="text/javascript">
//            /* GENDER */
//            var gender_data = google.visualization.arrayToDataTable([
//                ['Gender', 'Count'],
//                ['Male', {{ gender|get_item:'Male' }}],
//                ['Female', {{ gender|get_item:'Female' }}],
//                ['Other', {{ gender|get_item:'Other' }}],
//                ['Unspecified', {{ gender|get_item:'Unspecified' }}],
//            ]);
//            var options = {
//                title: '',
//                sliceVisibilityThreshold: 0,
//                backgroundColor: "#FAFAFA",
//                colors: ['blue','pink','orange','#666666'],
//            };
//            var chart = new google.visualization.PieChart(document.getElementById('chart_div_gender'));
//                chart.draw(gender_data, options);
//
//            /* EDUCATION */
//            var education_data = google.visualization.arrayToDataTable([
//                ['Education Level', 'Count'],
//                {% for the_education in education %}
//                    ['{{ the_education }}', {{ education|get_item:the_education }}],
//                {% endfor %}
//            ]);
//            var options = {
//                title: '',
//                sliceVisibilityThreshold: 0,
//                backgroundColor: "#FAFAFA",
//            };
//            var chart = new google.visualization.PieChart(document.getElementById('chart_div_education'));
//                chart.draw(education_data, options);
//
//            /* ENROLMENT TYPES */
//            var type_data = google.visualization.arrayToDataTable([
//                ['Mode', 'Number of Enrolments'],
//                {% for mode in modetypes %}
//                    ['{{ mode }}', {{ modes|get_item:mode }}],
//                {% endfor %}
//            ]);
//            var options = {
//                title: '',
//                sliceVisibilityThreshold: 0,
//                backgroundColor: "#FAFAFA",
//                colors: ['red','blue','green','orange','yellow']
//            };
//            var chart = new google.visualization.PieChart(document.getElementById('chart_div_types'));
//                chart.draw(type_data, options);
//        }
//
//        $(document).ready(function () {
//            $(window).resize(function(){
//                drawChart();
//            });
//        });
    </script>