<div class="metaactions">
    <a ng-click="refreshData()" data-name="reload" class="refresh-cache btn btn-warning">
	    <i class="fa fa-refresh"></i> Recache
    </a>
    <a ng-href="http://api.uqxdev.com/api/students/dates/{{course.currentCourse}}?format=csv" data-name="csv" class="csv-download btn btn-success">
	    <i class="fa fa-file-excel-o"></i> CSV
    </a>
</div>


<!--<vis-bar data="newRegData" width="1000" height="500" option="chartOption"></vis-bar> -->
<h3>New Posts</h3>
<vis-line data="normalData" width="2000" height="500" all-dates="true"></vis-line>
<h3>Total Posts</h3>
<vis-line data="aggregateData" width="2000" height="500"></vis-line>

<h3>Discussion Categories</h3>
<ul class = "list-group">
    <li class="list-group-item" ng-repeat="category in categoryData">
        <a href="">{{category.display_name}}</a>
        <!--<a href="{% url  'visualization' 'discussion_forum_data' %}{{ selectedcoursename }}/discussion_category/{{ category.discussion_id }}">{{ category.discussion_display }}</a>-->
    </li>
</ul>

<div class="panel-group" id="accordion">
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
    Most popular {{ topNumber }} Threads
    </a>
    </h4>
  </div>
  <div id="collapseOne" class="panel-collapse collapse in">
    <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="pop in popularData">
          <span class="badge"> {{ pop.comment_count }} comments</span>
          {{ pop.body }}
          </li>
        </ul>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
    Top {{ topNumber }} Threads
    </a>
    </h4>
  </div>
  <div id="collapseTwo" class="panel-collapse collapse in">
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="thread in topData.threads">
          <span class="badge">{{ thread.votes.up_count}} up</span>
          {{ thread.body }}
          <!-- <a href="{% url 'visualization' "discussion_forum_data" %}{{ selectedcoursename }}/thread/{{ thread.id }}" class="pushleft" target="_blank"> Diagram</a> -->
          </li>
        </ul>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
      Top {{ topNumber }} Comments
      </a>
    </h4>
  </div>
  <div id="collapseThree" class="panel-collapse collapse in">
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="comment in topData.comments">
          <span class="badge">{{ comment.votes.up_count}} up</span>
          <p> <b>Thread: </b>{{ comment.comment_thread_body }}
          <!--    <a href="{% url 'visualization' "discussion_forum_data" %}{{ selectedcoursename }}/thread/{{ comment.comment_thread_id }}" class="pushleft" target="_blank"> Diagram</a> -->
          </p>
          <p ng-if="comment.parent_body"><b>Parent: </b>{{ comment.parent_body }}</p>
          <p><b>Comment: </b>{{ comment.body }}</p>
          </li>
        </ul>
    </div>
  </div>
</div>
</div>