<div id="dashboard_container">
    <ul id="vis-nav">
        <!--<li><a href="#" data-name="dashboard" ng-click='goHome()'><i class="fa fa-dashboard"></i></a></li>-->
        <li>
            <style>
                #year_selector {
                    height:30px;
                    width:110px;
                    margin:5px;
                }
            </style>
            <select ng-model="year" ng-change="changeYear()" id="year_selector" class="form-control">
                <option value="all">All Courses</option>
                <option value="2014">2014</option>
                <option value="2015">2015</option>
                <option value="2016">2016</option>
            </select>
        </li>
        <li ng-repeat="visualisation in visualisationsList" ui-sref-active="selected">
            <a ng-click='changeVisualisation(visualisation)' ui-sref="dashboard.visualisation({visualisation: visualisation.id, course: course.currentCourse})"><i class="fa {{visualisation.icon}}"></i> <span class="hidden-xs hidden-sm">{{visualisation.name}}</span></a>
        </li>
    </ul>
    <div id="content_wrapper">
        <ul id="coursenav">
            <li ng-repeat="c in course.courseList" ng-class="{selected:(c.id === course.currentCourse)}">
                <a ng-show="year==c.year || year=='all'" ng-click='course.currentCourse = c.id' ui-sref="dashboard.visualisation({visualisation: (!!currentVisualisation ? currentVisualisation : 'home'), course: c.id})" data-name="{{c.id}}"><i class="fa {{c.icon}}"></i>{{c.shortName}}<span class="year">{{c.term}}{{c.year}}</span></a>
            </li>
        </ul>
        <div id="main_content">
            <div ng-switch on="state">
                <div ng-switch-when="notloggedin" class="notselected">
                        <h1>Login to interact with the dashboard</h1>
                        <div id="icon"><i class="fa fa-lock"></i></div>
                        <p>You must login to use the dashboard</p>
                </div>
                <div ng-switch-when="notselected" class="notselected">
                        <h1>Choose a visualisation and course</h1>
                        <div id="icon"><i class="fa fa-dashboard"></i></div>
                        <p>Choose a visualisation from the top and a course from the left hand side</p>
                </div>
                <div ng-switch-when="notavailable" class="notselected">
                        <h1>Visualisation is not available</h1>
                        <div id="icon"><i class="fa fa-exclamation-triangle"></i></div>
                        <p>{{currentVisualisationName}} is not available for {{course.getCurrentCourseShortName()}}</p>
                </div>
                <div ng-switch-when="loading">
                    <div id='loading_spinner'></div>
                    <script type="text/javascript">
                        var opts = {
                            lines: 10, // The number of lines to draw
                            length: 10, // The length of each line
                            width: 10, // The line thickness
                            radius: 20, // The radius of the inner circle
                            corners: 4, // Corner roundness (0..1)
                            color: '#4A105A', // #rgb or #rrggbb or array of colors
                            speed: 0.8, // Rounds per second
                            top: '50%',
                            left: '50%'
                        };
                        var target = document.getElementById('loading_spinner');
                        var spinner = new Spinner(opts).spin(target);
                    </script>
                </div>
                <div ng-switch-when="error">This is an error</div>
            </div>
            <div ng-class="{hideview:(state!='running')}">
                <!-- <h2>{{currentVisualisationName}} for {{course.getCurrentCourseShortName()}}</h2> -->
                <ui-view></ui-view>
            </div>
        </div>
    </div>
</div>
