<form class="login-form" name="loginForm" ng-submit="login(credentials)" novalidate>
	<label for="username">Username:</label>
	<input autofocus type="text" id="username" ng-model="credentials.username" class="form-control"/>
	<label for="password">Password:</label>
	<input type="password" id="password" ng-model="credentials.password" class="form-control"/>
    <p style="font-size:80%;">You should be familiar with UQ policy <a target="_blank" href="https://ppl.app.uq.edu.au/content/1.60.02-privacy-management">1.60.02 Privacy Management</a> before accessing this dashboard.</p>
	<div class="login-message" ng-class="messageClass">{{message}}</div><button class="btn btn-primary"type="submit">Login</button>
</form>