<div id="reports">
    <ul id="report-nav" class="col-sm-2">
        <li ng-repeat="report in reportsList" ui-sref-active="selected">
            <a ng-click='changeReport(report)' ui-sref="reports.report({report: report.id})"><i class="fa {{report.icon}}"></i> <span class="hidden-xs hidden-sm">{{report.name}}</span></a>
        </li>
    </ul>
    <div id="report-content" class="col-sm-10">
        <div ng-switch on="state">
            <div ng-switch-when="loading">
                <div id='loading_spinner'></div>
                <script type="text/javascript">
                    var opts = {
                        lines: 10, // The number of lines to draw
                        length: 10, // The length of each line
                        width: 10, // The line thickness
                        radius: 20, // The radius of the inner circle
                        corners: 4, // Corner roundness (0..1)
                        color: '#4A105A', // #rgb or #rrggbb or array of colors
                        speed: 0.8, // Rounds per second
                        top: '50%',
                        left: '50%'
                    };
                    var target = document.getElementById('loading_spinner');
                    var spinner = new Spinner(opts).spin(target);
                </script>
            </div>
        </div>
        <div ng-class="{hideview:(state!='running')}">
            <h2>{{currentReportName}}</h2>
            <ui-view></ui-view>
        </div>
    </div>
</div>