<div id="status">
<h1>Service Status</h1>
<div id="status">
    <h2>Service Status</h2>
        <div id="services"></div>
    <!--<h2>Data Collections Status</h2>
        <div id="services"></div>-->
</div>
    <!--<p><h2>Actions</h2></p>
    <div id="actions">
        <a href="/dashboard/dashboard/copysql" class="btn btn-primary pushleft">Copy Latest SQL from QCloud for Injection</a>
        <a href="/dashboard/dashboard/copyclickstream" class="btn btn-primary pushleft">Copy Latest Clickstream from QCloud for Injection</a>
        <a href="/dashboard/dashboard/copyforumdata" class="btn btn-primary pushleft">Copy Latest Forum Data from QCloud for Injection</a>
    </div>-->
</div>
<script>
    $(document).ready(function () {
        window.setInterval(function () {
            reloadData()
        }, 10000);
        reloadData();
    });
    function reloadData() {
        $.ajax({
            url: STATUSBASE+'/status',
            success: function (data) {
                $('#services').html('');
                for (var app in data.response) {
                    var list = '<dl class="dl-horizontal">';
                    var status = data.response[app];
                    list += '<dt>Status: </dt><dd>' + status['status'] + '</dd>';
                    if (status['status'] == 'sleeping') {
                        list += '<dt>Last Time Awake: </dt><dd>' + status['lastcompletedate'] + '</dd>';
                    } else {
                        list += '<dt>Started Task: </dt><dd>' + status['startdate'] + '</dd>';
                    }
                    list += '<dt>Action: </dt><dd class="action"><strong>' + status['task'] + '</strong> ' + status['file'] + '</dd>';
                    list += '</dl>';
                    var total = 100;
                    var tasks_completed = total - status['tasksleft'];
                    var progress = ' (' + tasks_completed + '/' + total + ')';
                    if (total == 0) {
                        tasks_completed = 0;
                        total = 1;
                        progress = '';
                    }
                    var percentage = Math.round(tasks_completed / total * 100);
                    list +=
                            '<div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="' + tasks_completed + '" aria-valuemin="0" aria-valuemax="' + total + '" style="width: ' + percentage + '%;">' + progress + ' ' + percentage + '%</div></div>';
                    var service = $('<div class="col-md-4"><div class="service service_' + status['status'] + '"><h4><span class="glyphicon glyphicon-tasks"></span> ' + status['name'] + '</h4>' + list + '</div></div>');
                    $('#services').append(service);
                }
            },
            error: function (data) {
                $('#services').html('<div class="alert alert-danger">Error: Could not connect to services</div>');
            },
            timeout: 2000
        });
    }
</script>